In [2]:
import pandas as pd
import numpy as np

## 1번
1-1, 1-2 <br>
아래 제가 정의한 frame 변수를 가지고 문제를 푸시면 됩니다.

In [5]:
#건드리지 마세요.
data = {'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'], #'state'가 열에 대한 변수임
        'year' : [2000,2001,2002,2001,2002,2003],
        'pop' : [1.5,1.7,3.6,2.4,2.9,3.2]}
frame=pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

### 1-1 번 문제<br>
frame 변수에 저장되어 있는 데이터프레임의 column 이름을 바꾸세요. <br>
'state' 컬럼 이름을 'location'으로 바꾸세요.

In [2]:
# 코드를 여기에 작성하세요

### 1-2번 문제<br>
frame 변수에 저장되어 있는 데이터 프레임의 인덱스 값을 바꾸세요. <br>
row의 인덱스 값을 기존의 0, 1, 2, 3, 4, 5에서 'id1', 'id2', 'id3', 'id4', 'id5', 'id6'로 바꾸세요.

In [3]:
# 코드를 여기에 작성하세요

## 2번 문제
2-1, 2-2, 2-3, 2-4

In [15]:
#건드리지 마세요
df=pd.DataFrame([ [1.4,np.nan],[7.1,-4.5],[np.nan,  ],[0.75,-1.3]], 
               index=['a','b','c','d'],columns=['first','second'])
df

   first  second
a   1.40     NaN
b   7.10    -4.5
c    NaN     NaN
d   0.75    -1.3

### 2-1번 문제 <br>
df 변수에 저장된 데이터프레임에서 first, second column의 데이터의 개수를(결측 값을 제외한 데이터의 개수)를 특정 함수를 사용하여 구하세요.

In [4]:
# 코드를 여기에 작성하세요

### 2-2번 문제<br>
df 변수에 저장된 데이터 프레임에서 각 컬럼별 25%사분위값(Q1)값을 구하세요.

In [5]:
# 코드를 여기에 작성하세요

### 2-3번 문제<br>
df변수에 저장된 데이터 프레임에서 각 컬럼에서 결측값이 있는 행을 모두 삭제하세요.

In [6]:
# 코드를 여기에 작성하세요

### 2-4번 문제 <br>
df변수에 저장된 데이터 프레임에서 결측값을 모두 0으로 채우세요.

In [7]:
df=pd.DataFrame([ [1.4,np.nan],[7.1,-4.5],[np.nan,  ],[0.75,-1.3]], 
               index=['a','b','c','d'],columns=['first','second'])

##2-4번 코드는 여기 아래 작성하시면 됩니다.
# 코드를 여기에 작성하세요

## 3번 문제
3-1, 3-2번

### 3-1번 문제 <br>
df1, df2를 column bind로 concat하세요.

In [23]:
#건드리지 마세요
df1=pd.DataFrame({'Key' : ['a','c','b','d','e'],'data1':range(10,15)})
df2=pd.DataFrame({'Key' :['a','b','f'], 'data2':range(3)})

In [8]:
#여기에 코드를 작성하시오

### 3-2번 문제 <br>
df1, df2를 df1 에서는 Key1, df2에서는 Key2를 기준으로 하여 outer merge하세요.

In [55]:
#건드리지 마세요
df1=pd.DataFrame({'Key1' : ['a','c','b','d','e'],'data1':range(10,15)})
df2=pd.DataFrame({'Key2' :['a','b','f'], 'data2':range(3)})

In [9]:
#여기에 답을 적으시오

## 4번 문제

아래 행렬을 x1에 입력하고,상수항 4를 1)더하고, 2)빼고, 3)곱하고, 4)나누고, 5)4만큼 제곱승하세요. (5개 모두 프린트하세요)

$$\begin{bmatrix} 
 1 & 1  \\
 3 & 3  
\end{bmatrix}$$

In [10]:
# 여기에 코드를 작성하세요

## 5번 문제

10명의 학생에 대한 점수를 다음과 같이 얻었다.

[100, 0, 50, 45, 60, 50, 55, 52, 46, 57]

100점과 0점의 학생을 제외하고 8명에 대하여 평균과 표준편차를 구하려 한다.

(1) 100점과 0점에 대하여 numpy의 결측치 np.nan로 대체하세요. * np.nan은 float형에서만 사용가능함

(2) np.nanmean, np.nanstd로 평균, 표준편차를 구하는 함수를 이용하세요.

In [12]:
# 여기에 코드를 작성하세요

## 6번 문제

다음의 8x4 행렬을 만들고

 $ \begin{bmatrix} 0 & 1 & 2 & 3 \\
 4 & 5 & 6 & 7 \\ 
 8 & 9 & 10 & 11 \\
12 & 13 & 14 & 15 \\
16 & 17 & 18 & 19 \\
20 & 21 & 22 & 23 \\
24 & 25 & 26 & 27 \\
28 & 29 & 30 & 31 \end{bmatrix} $

이를 이용하여 열을 선택하여 다음과 같은 행렬을 만드세요.

 $ \begin{bmatrix} 2 & 1 & 3 \\
 6 & 5 & 7 \\ 
 10 & 9  & 11 \\
14 & 13  & 15 \\
18 & 17  & 19 \\
22 & 21  & 23 \\
26 & 25  & 27 \\
30 & 29  & 31 \end{bmatrix} $

In [ ]:
# 여기에 코드를 작성하세요